* {
    outline: 0;
}
  
.App {
    font-family: sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

input[type=text], input[type=email], input[type=search] {
    display: block;
    min-width: 10%;
    margin: 8px;
    padding: 8px;
    width: 20em;
    border-radius: 8px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
}

input:hover {
    border-color: palevioletred;
}

button {
    margin: 0.8em;
    padding: 8px;
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

button:hover {
    background-color: palevioletred;
    color: white;
}

table {
    border-spacing: 0;
    width: 75%;
}

th, td {
    padding: 0.25rem 1rem;
    text-align: center;
    border-bottom: 1px solid rgb(190, 190, 190);
}

th {
    padding: 1rem 2rem;
}

img {
    width: 20%;
    padding: 0.3rem;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: aquamarine;
}

thead>tr {
    background: #dcdcdc;
}

div.delpaginate {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

button.deleteall{
    width: 15%;
    border-radius: 25px;
}

div.paginate {
    width: 70%;
}

ul {
    display: flex;
    list-style: none;
}

li {
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    margin: 0 1rem;
    border: 1px solid #7fc6ff;
    border-radius: 25px;
    background: #7fc6ff;
}
  
  
  